.socialsContainer {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.icon {
  margin: 0 10px;
  transform: scale(0.7);
  fill: #8385a9;
}

.icon:hover {
  fill: #fb5e84;
}

@media (min-width: 1024px) {
  .socialsContainer {
    position: absolute;
    bottom: 3vh;
  }
}
